/* Variables */

:root {
  --black: rgba(0, 0, 0, 1);
  --azure-radiance: rgba(0, 122, 255, 1);
  --elm: rgba(35, 127, 127, 1);
  --ship-gray: rgba(60, 60, 67, 0.6);
  --minsk: rgba(64, 53, 114, 1);
  --malachite: rgba(71, 150, 150, 1);
  --abbey: rgba(79, 79, 79, 1);
  --cyber-grape: rgba(89, 80, 133, 1);
  --rolling-stone: rgba(118, 118, 128, 0.122);
  --gray: rgba(130, 130, 130, 1);
  --oslo-gray: rgba(142, 142, 147, 1);
  --silver-chalice: rgba(174, 174, 178, 1);
  --mercury: rgba(229, 229, 229, 1);
  --black-squeeze: rgba(245, 249, 249, 1);
  --black-squeeze-2: rgba(245, 249, 251, 1);
  --whisper: rgba(246, 245, 251, 1);
  --red-orange: rgba(255, 86, 72, 1);
  --white: rgba(255, 255, 255, 1);

  --font-size-s: 14px;
  --font-size-m: 15px;
  --font-size-l: 17px;
  --font-size-l: 20px;
  --font-size-xl: 23px;
  --font-size-xl: 34px;
  --font-size-xxl: 24px;
  --font-size-s2: 13px;
  --font-size-xs2: 12px;
  --font-size-xxs3: 10px;
  --font-size-xxs2: 7px;

  --font-family-lato: "Lato";
  --font-family-lato-black: "Lato-Black";
  --font-family-lato-light: "Lato-Light";
  --font-family-lato-semibold: "Lato-SemiBold";
  --font-family-oleo_script: "Oleo Script";
  --font-family-oleo_script-regular: "Oleo Script-Regular";
  --font-family-roboto: "Roboto";
  --font-family-roboto-medium: "Roboto-Medium";
  --font-family-roboto-regular: "Roboto-Regular";
}
