.bedriftsbeskrivelse-1 {
    width: 450px;
    min-height: 100px;
    height: min-content;
    border-radius: 5px;
    padding: 0px;
    justify-content: space-evenly;
    padding: 5.2px 8.3px;
    margin-block: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    
  }
  
  .info {
    align-items: flex-start;
    display: flex;
    width: 311px;
  }
  
  .top-content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 163px;
    position: relative;
    width: 311px;
  }
  
  .person {
    align-items: center;
    display: flex;
    position: relative;
    width: 225px;
  }
  
  .avatar {
    height: 40px;
    width: 40px;
  }
  
  .name-date {
    align-items: flex-start;
    display: flex;
    height: 20px;
    margin-left: 12px;
    overflow: hidden;
    width: 173px;
  }
  
  .schibsted {
    letter-spacing: -0.24px;
    line-height: 20px;
    min-height: 20px;
    white-space: nowrap;
  }
  
  .description {
    align-items: flex-end;
    display: flex;
    height: 123px;
    overflow: hidden;
    width: 311px;
  }
  
  .text-1 {
    letter-spacing: -0.24px;
    line-height: 20px;
    margin-bottom: -121px;
    min-height: 244px;
    width: 313px;
  }
  
  .span0 {
    letter-spacing: -0.03px;
  }
  
  .span1 {
    color: var(--black);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-l2);
    letter-spacing: -0.03px;
  }
  
  
  @import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
  
  @import url("https://fonts.googleapis.com/css?family=Lato:400,700,900,300,500,600,300italic|Roboto:400,700,500|Oleo+Script:400");
  
  * {
    box-sizing: border-box;
  }
  