.content::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  
  .content {
    align-items: flex-start;
    display: flex;
    height: 744px;
    min-width: 375px;
    overflow-y: scroll;
    padding: 0 16px;
  }
  
  .alternativ::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  
  .alternativ {
    align-items: flex-start;
    background-color: var(--white);
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    height: 697px;
    overflow: hidden;
    overflow-y: scroll;
    width: 343px;
  }
  
  .overskrift::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  
  .overskrift {
    align-items: center;
    background-color: var(--white);
    border-radius: 14px;
    display: flex;
    height: 220px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 0 16px;
    width: 343px;
  }
  
  .info {
    align-items: flex-start;
    display: flex;
    width: 311px;
  }
  
  .top-content {
    align-items: flex-start;
    display: flex;
    overflow: hidden;
    width: 311px;
  }
  
  .text-1 {
    color: var(--black);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xl);
    height: 188px;
    letter-spacing: -0.24px;
    text-align: center;
    width: 313px;
  }
  
  .overskrift-1::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  
  .overskrift-1 {
    align-items: flex-start;
    background-color: var(--white);
    border-radius: 14px;
    display: flex;
    margin-top: 6px;
    overflow: hidden;
    overflow-y: scroll;
    width: 343px;
  }
  
  .rectangle-7 {
    height: 224px;
    margin-top: -0.25px;
    object-fit: cover;
    width: 343px;
  }
  
  .du-har-90-sekunder::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  
  .du-har-90-sekunder {
    align-items: center;
    background-color: var(--white);
    border-radius: 14px;
    display: flex;
    height: 157px;
    margin-top: 6px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 0 16px;
    width: 343px;
  }
  
  .info-1 {
    align-items: center;
    display: flex;
    height: 125px;
    width: 311px;
  }
  
  .text-2 {
    color: #828282;
    font-family: var(--font-family-lato);
    font-size: var(--font-size-m);
    height: 58px;
    letter-spacing: -0.24px;
    width: 313px;
  }
  
  .d {
    align-items: flex-end;
    border-radius: 15px;
    display: flex;
    height: 79px;
    margin-left: 1px;
    margin-top: 6px;
    overflow: hidden;
    width: 341px;
  }
  
  .overlap-group {
    height: 80px;
    margin-bottom: -0.5px;
    position: relative;
    width: 341px;
  }
  
  .rectangle-6 {
    height: 79px;
    left: 0;
    position: absolute;
    top: 0;
    width: 341px;
  }
  
  .place {
    color: var(--white);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-l);
    font-weight: 500;
    height: 79px;
    left: 0;
    letter-spacing: -0.24px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 329px;
  }
  
  
  @import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
  
  @import url("https://fonts.googleapis.com/css?family=Lato:400,700,900,300,500,600,300italic|Roboto:400,700,500|Oleo+Script:400");
  
  .valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  * {
    box-sizing: border-box;
  }
  